<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login 04</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/public/userlogin/css/style.css" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section"></h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="wrap d-md-flex">
              <div
                class="img"
                style="
                  background-image: url(/public/usertemplate/images/young-ripped0.png);
                "
              ></div>
              <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-3">Sign Up</h3>
                  </div>
                  <div class="w-50">
                    <p class="social-media d-flex justify-content-end">
                      <a
                        href="#"
                        class="social-icon d-flex align-items-center justify-content-center"
                        ><span class="fa fa-facebook"></span
                      ></a>
                      <a
                        href="#"
                        class="social-icon d-flex align-items-center justify-content-center"
                        ><span class="fa fa-twitter"></span
                      ></a>
                    </p>
                  </div>
                </div>

                <!-- <h2 class="text-uppercase text-center mb-5">LOGIN</h2>
                <% if(locals.invalid){%>
                <p><%=invalid%></p>
                <%}%> -->

                <form action="/register" method="post"  id="form" class="signin-form">
                  <div class="form-group mb-3">
                    <label class="label" for="name">User Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      placeholder="User Name"
                      id="name"
                      required
                    />
                    <small id="nameError" class="text-danger err"></small>
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="name">Email</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      name="email"
                      placeholder="Email"
                      required
                    />
                    <small id="emailError" class="text-danger err"></small>
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="name">Phone Number</label>
                    <input
                      type="number"
                      class="form-control"
                      id="phone"
                      name="mobile"
                      placeholder="Phone Number"
                      required
                      
                    />
                    <small id="phoneError" class="text-danger err"></small>

                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder="Password"
                      required
                    />
                    <small id="passwordError" class="text-danger err"></small>
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      class="form-control btn btn-primary rounded submit px-3"
                    >
                      Signup
                    </button>
                  </div>
                  <div class="form-group d-md-flex">
                    
                    <div class="w-50 text-md-right">
                      <a href="#">Forgot Password</a>
                    </div>
                  </div>
                </form>
                <p class="text-center">
                  If you already have an account?<a href="/login">Login</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <script>
      const form = document.getElementById('form');
      const nam = document.getElementById('name');
      const phone = document.getElementById('phone');
      const email = document.getElementById('email');
      const password = document.getElementById('password');
      
      form.addEventListener('submit', (e) => {
          let flag = 0;
          const nameValue = nam.value.trim();
          const emailValue = email.value.trim();
          const phoneValue = phone.value.trim();
          const passwordValue = password.value.trim();
      
          if (nameValue === "") {
              setError(nam, "Field Cannot be empty", "nameError");
              flag = 1;
          } else if (!isNaN(Number(nameValue))) {
              setError(nam, "Name should only contain alphabets", 'nameError');
              flag = 1;
          } else {
              setSuccess(nam, 'nameError');
              flag = 0;
          }
      
          if (emailValue === "") {
              setError(email, "Field Cannot be Empty", "emailError")
              flag = 1;
          } else if (!emailValidation(emailValue)) {
              setError(email, "Enter a valid Email", 'emailError')
              flag = 1;
          } else {
              setSuccess(email, 'emailError');
              flag = 0;
          }
          if (phoneValue === "") {
              setError(phone, 'Field Cannot be empty', 'phoneError')
              flag = 1;
          } else if (phoneValue.toString().length !== 10 || isNaN(Number(phoneValue))) {
              setError(phone, 'Enter a valid Mobile Number', 'phoneError')
              flag = 1;
          } else {
              setSuccess(phone, 'phoneError')
              flag = 0
          }
          if (passwordValue === "") {
              setError(password, 'Field Cannot be empty', 'passwordError')
              flag = 1
          } else if (passwordValue.length < 5) {
              setError(password, 'Password must atleast 5 characters', 'passwordError')
              flag = 1
          } else if (passwordValue.length > 14) {
              setError(password, 'Password length cant exceed 15 characters', 'passwordError')
              flag = 1
          } else {
              setSuccess(password, 'passwordError')
              flag = 0
          }
          if (flag === 1) {
              e.preventDefault();
              return 0;
          } else {
              return 0;
          }
      })
      function setError(element, message, id) {
          const inputControl = element.parentElement
          document.getElementById(id).innerHTML = message
          inputControl.classList.add('danger')
          inputControl.classList.remove('success')
      }
      function setSuccess(element, id) {
          const inputControl = element.parentElement
          document.getElementById(id).innerHTML = ""
          inputControl.classList.add('success')
          inputControl.classList.remove('danger')
      }
      function onlyLetter(string) {
          return /^[a-zA-Z]+$/.test(string)
      }
      function emailValidation(email) {
          return String(email)
              .toLowerCase()
              .match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)
      }
      
      
      </script>


    <script src="/public/userlogin/js/jquery.min.js"></script>
    <script src="/public/userlogin/js/popper.js"></script>
    <script src="/public/userlogin/js/bootstrap.min.js"></script>
    <script src="/public/userlogin/js/main.js"></script>
  </body>
</html>
